<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://apis.google.com/js/api.js"></script>
 
    <title>SisEnd- WMS - 1.0b</title>
</head>
<body>
        <legend><h1>SisEnd- WMS</h1></legend>    

       {{{body}}}
       {{>menu}}

</body>

<footer>
    <p>Criado por Felipe Rosa de Mendonça</p>
    <p>Disponibilizado Sob os Termos da Liscença MIT</p>
</footer>
 
</html>