<form action="/resultadd" method="post">
<div id="add-Prod-End">
        <fieldset>
        <legend>Adicionar Produto Ao Endereço</legend>

        <label>Numero EAN do Produto:
        <input type="text" name="ADD" id="ADD-EAN-ID" placeholder=" "></label><br>

        <label>Validade:
        <input type="date" name="ADD" id="ADD-DATE-VALIDADE-ID" placeholder=" "></label><br>

        <label>Quantidade:
            <input type="number" name="ADD" id="ADD-QNATIDADE-ID" placeholder=" "></label><br>
        <label>Rua:
            <select  name="ADD-RUA" id="ADD">
                <optgroup label="RUA">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <1></1>

                </optgroup>
            </select>
        </label>
        <label for="ADD">Lado:
            <select name="ADD" id="inputAddLado" value="">
                    <option>A</option>
                    <option>B</option>
            </select>
        </label>
        <label for="ADD">Predio:
            <select name="ADD" id="ADD-PREDIO-ID" >
                <optgroup label="PRÉDIO">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </optgroup>
            </select>
        </label>
        <label for="ADD">Andar:
            <select name="ADD" id="ADD-ANDAR-ID">
                <optgroup label="Andar">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                 </optgroup>
            </select>
        </label>
        <button type="submit" name="ADD-btn" id="ADD-EAN-BTN" class="btn">ADCIONAR</button>
        </fieldset>

    </div>
        </form> 

