 
<fieldset>
      <form action="/resultend" method="post">
        <fieldset>
            <legend>Digite ou Scaneie Endereço na Estante</legend>  
            <div id="add-Prod-End">
                <fieldset>
                <label for="pesquisadoEndEstante" >Rua:
                    <select  name="pesquisadoEndEstante" id="ADD-RUA-ID">
                        <optgroup label="RUA">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <1></1>

                        </optgroup>
                    </select>
                </label>
                <label for="pesquisadoEndEstante">Lado:
                    <select name="pesquisadoEndEstante" id="inputAddLado" value="">
                            <option>a</option>
                            <option>b</option>
                    </select>
                </label>
                <label for="ADD-PREDIO-ID">Predio:
                    <select name="pesquisadoEndEstante" id="ADD-PREDIO-ID" >
                        <optgroup label="PRÉDIO">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                        </optgroup>
                    </select>
                </label>
                <label for="ADD-ANDAR-ID">Andar:
                    <select name="pesquisadoEndEstante" id="ADD-ANDAR-ID">
                        <optgroup label="Andar">
                            <option>1</option>
                                <option>2</option>
                            <option>3</option>
                        </optgroup>
                    </select>
                </label>
                <label for=""><button id="btnFindEstante" class="btn btn-submit" type="submit" value="" name="pesquisado">PESQUISAR ENDEREÇO</button>   </label>
            </div>                
        </form>
                <form action="/resultendvazio" method="post"><label for=""><button id="btnEndVazio" class="btn btn-submit" type="submit" value="btnEndVazio" name="pesqEndVazio">PESQUISAR ENDEREÇO VAZIO</button></label></form>
                                </fieldset> 
                          
        


                        


    
</fieldset>
      
        
