   
    <fieldset>                
                <form action="/result" method="post">
                    <fieldset>
                       <legend>Insira o EAN do produto procurado</legend>

                       <label>Produto:
                            <input id="inputText" minlength="5"   class="input-pesquisa" type="text" name="pesquisado" required>
                        </label>
                       <button id="btnFind" class="btn btn-submit" type="submit" value="" name="">PESQUISAR</button>   
               </form>
    </fieldset>
        
  