 
<fieldset>
    <legend>
        Selecione uma Opção
    </legend>  

    <section>
        <a href="./find"><button id="menu1" class="buttonMenu">Pesquisar</button></a>
        <a href="./end"><button id="menu2" class="buttonMenu">Endereço</button></a>
        <a href="./add"><button id="menu3" class="buttonMenu">Adicionar</button></a>
        <a href="./rmv"><button id="menu4" class="buttonMenu">Remover</button></a>
    </section>
</fieldset>
   