 
    <fieldset>

 <fieldset>
        <legend>Remover Produto do Endereço</legend>

        <label>Endereço:<br>
            <input type="text" name="RMV-RUA" id="RMV-RUA-ID" placeholder=" ">
            <input type="text" name="RMV-PREDIO" id="RMV-PREDIO-ID" placeholder=" ">
            <input type="text" name="RMV-ANDAR" id="RMV-ANDAR-ID" placeholder=" ">
        </label>

        <button id="BTN-RMV-PROD-END-ID" class="BTN-RMV btn" name="RMV-PROD-END" placeholder="REMOVER PRODUTO" >REMOVER</button>   

         </fieldset>
    </fieldset>

  
